# Ignore all files named .DS_Store
**/.DS_Store
sandbox/kpoppel/basic_auth_credentials
sandbox/kpoppel/config_data
sandbox/kpoppel/stage-1/03-traefik.persistentvolumeclaim.yaml
sandbox/kpoppel/stage-1/04-traefik.deployment.yaml
sandbox/kpoppel/stage-1/06-traefik-admin.basic_auth.ingressroute.yaml
sandbox/kpoppel/stage-1/11-whoami.ingressroute.yaml
sandbox/kpoppel/stage-2/11-portainer-k8s-beta.ingressroute.yaml
sandbox/kpoppel/service-hackmd/01-hackmd.ingressroute.yaml
sandbox/kpoppel/service-nextcloud/nextcloud.helm.values.yaml
sandbox/kpoppel/service-nextcloud/01-nextcloud.ingressroute.yaml
