# File: 01-mdhack.ingressroute.yaml.j2
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: hackmd-ingressroute-tls
  namespace: hackmd
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`hackmd.{{DOMAIN}}`)
      kind: Rule
      services:
        - name: hackmd
          port: 3000
  tls:
    certResolver: default
