---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: portainer-ingressroute-tls
  namespace: portainer
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`portainer.{{DOMAIN}}`)
      kind: Rule
      services:
        - name: portainer-portainer-beta
          port: 9000
  tls:
    certResolver: default
