apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: kube-system
spec:
  #clusterIP: 192.168.211.177
  externalTrafficPolicy: Cluster
  ports:
    - name: web
      nodePort: 32286
      port: 80
      protocol: TCP
      targetPort: web
    - name: websecure
      nodePort: 30108
      port: 443
      protocol: TCP
      targetPort: websecure
    - name: admin
      nodePort: 30582
      port: 8080
      protocol: TCP
      targetPort: admin
  selector:
    app: traefik
  type: LoadBalancer

---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: kube-system
  name: traefik-ingress-controller

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: traefik
  namespace: kube-system
  labels:
    app: traefik

spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      serviceAccountName: traefik-ingress-controller
      containers:
        - name: traefik
          image: traefik:v2.2
          args:
            # All arguments here:
            # https://docs.traefik.io/v2.0/reference/static-configuration/cli/
            - --global.sendanonymoususage=false
            - --api.insecure
            - --accesslog
            - --entrypoints.web.Address=:80
            - --entrypoints.websecure.Address=:443
            - --entryPoints.websecure.http.tls
            - --entrypoints.websecure.http.tls.certResolver=default
            # Permanent redirecting of all requests on http (80) to https (443)
            #- --entrypoints.web.http.redirections.entryPoint.to=websecure
            # Where to get ingress information from
            - --providers.kubernetescrd
            - --providers.kubernetesingress
            # Select the challenge method: DNS, HTTP, TLS
            #- --certificatesresolvers.default.acme.dnschallenge
            #- --certificatesresolvers.default.acme.httpchallenge
            #- --certificatesresolvers.default.acme.httpchallenge.entrypoint=web
            - --certificatesresolvers.default.acme.tlschallenge
            - --certificatesresolvers.default.acme.email={{ACME_EMAIL}}
            - --certificatesresolvers.default.acme.storage=/data/acme.json
            # Please note that this is the staging Let's Encrypt server.
            # Once you get things working, you should remove that whole line altogether.
            - --certificatesresolvers.default.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory
            # Prometheus metrics
            #- --entrypoints.metrics.address=:8888
            #- --metrics.prometheus
            #- --metrics.prometheus.entryPoint=metrics
          ports:
            - name: web
              containerPort: 80
            - name: websecure
              containerPort: 443
            - name: admin
              containerPort: 8080
          # Mount a data volume for the ACME certificate data
          # The PersistentVolume and PersistentVolumeClaim is created from another yaml file.
          volumeMounts:
            - name: local-data-volume
              mountPath: /data
              subPath: ""
      volumes:
        - name: local-data-volume
          persistentVolumeClaim:
            claimName: traefik-acme-storage
